@import "generales";
@import "nosotros";
@import "servicios";
@import "coberturas";
@import "contacto";
@import "turnos";

/*** Resolucion 320 en adelante ***/


/* Navbar */

.navbar {
    background-color: #4994f2!important;
    font-family: "Montserrat", sans-serif !important;
    a {
        color: #fff !important;
        padding-left: 5px !important;
    }
    .navbar-brand img {
        height: 70px;
        width: auto;
        transition: all 0.3s;
        cursor: pointer;
        margin-right: auto;
    }
}


/* Fin Navbar */


/* Home */

.inicio {
    background-color: $color-fondo_celeste;
    .sonrisa_turnos {
        padding: 10px 30px;
        margin: 20px;
    }
    .inicio-info {
        padding: 20px 25px;
        text-align: center;
        h2 {
            @include estilos-h2;
        }
        p {
            font-size: 22px;
        }
        h3 {
            @include estilos-h3;
        }
        .botonTurno {
            background-color: $color-elementos_celeste !important;
            font-size: 22px !important;
        }
    }
}


/* Modal Turnos */

.modal-header {
    background-color: $color-elementos_celeste;
}

.modal-title {
    color: #fff;
    font-size: 22px !important;
}

.btn-solicitar {
    background-color: $color-elementos_celeste;
}


/* Fin Modal Turnos */


/* Fin Home */


/* Footer */

.footer-container {
    width: 100%;
    background: #3f485b;
    .content-footer {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        .box {
            h2 {
                color: #84e9f4;
                margin-bottom: 25px;
                font-size: 18px;
            }
            p {
                color: #efefef;
                margin-bottom: 10px;
            }
            a {
                display: block;
                color: #ccc;
                font-size: 12px;
                padding: 5px 0;
            }
            .email_contacto {
                font-size: 16px;
            }
            .social-links {
                display: flex;
                flex-direction: row;
                img {
                    height: 50px;
                    width: auto;
                }
            }
        }
    }
}


/* Fin Footer */


/*** Fin resolucion 320 en adelante ***/


/*** Resolucion 480 a 768 ***/

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .footer-container .content-footer {
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }
    .inicio img {
        width: 400px;
    }
    .sonrisa_turnos {
        margin: 40px;
    }
    .nosotros-info img {
        height: 360px !important;
    }
    .coberturas p {
        font-size: 20px;
    }
    .lista-contacto {
        padding: 0px 90px;
    }
}


/*** Fin resolucion 480 a 768 ***/


/*** Resolucion 768 a 1024 ***/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-container .content-footer {
        width: 95%;
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr);
    }
    .inicio img {
        width: 300px;
    }
    .nosotros-info img {
        height: 590px !important;
    }
    .servicios img {
        @include tamaños(100px, 100px);
    }
    .grid-container {
        grid-gap: 30px 5px;
    }
    .servicios {
        padding-bottom: 50px !important;
    }
    .coberturas p {
        font-size: 20px;
    }
    .card_cobertura {
        display: flex;
        justify-content: center;
    }
    .coberturas_abc {
        width: 400px;
    }
    .lista-contacto {
        padding: 0px 200px;
    }
    .contacto-info {
        li {
            font-size: 16px !important;
        }
    }
    .turnos-info {
        margin: 20px 40px;
    }
}


/*** Fin resolucion 768 a 1024 ***/


/*** Resolucion 1024 en adelante ***/

@media only screen and (min-width: 1024px) {
    .footer-container .content-footer {
        width: 100%;
        max-width: 1200px;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 50px;
        padding: 45px 15px;
    }
    .footer-container .content-footer .box a:hover {
        color: #f2c640;
    }
    .inicio img {
        @include tamaños(500px, 400px);
        // width: 500px;
        // height: 400px;
    }
    .content-inicio {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .sonrisa_turnos {
        padding-left: 40px;
    }
    .nosotros-info img {
        height: 490px !important;
        width: 920px !important;
        padding-left: 250px !important;
        padding-right: 200px !important;
    }
    .nosotros-info h5 {
        padding-left: 45px !important;
    }
    .servicios img {
        @include tamaños(100px, 100px);
    }
    .grid-container {
        grid-gap: 50px 5px !important;
    }
    .servicios {
        padding-bottom: 70px !important;
    }
    .servicios p {
        font-size: 16px !important;
        padding-top: 3px;
        font-weight: bold;
    }
    .coberturas p {
        font-size: 24px;
    }
    .card_cobertura {
        display: flex;
        justify-content: center;
    }
    .coberturas_abc {
        width: 400px;
    }
    .lista-contacto {
        padding: 0px 310px;
    }
    .contacto-info {
        li {
            font-size: 18px !important;
        }
    }
    .turnos-info {
        margin: 20px 60px;
    }
}


/*** Fin resolucion 1024 en adelante ***/

@media only screen and (min-width: 1200px) {
    .content-inicio {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inicio-info {
        padding-right: 90px;
    }
    .nosotros-info img {
        height: 390px !important;
        width: 820px !important;
        padding-right: 10px !important;
        padding-left: 400px !important;
    }
    .servicios-info h3 {
        font-size: 18px !important;
    }
    .coberturas p {
        font-size: 22px;
    }
    .card_cobertura {
        display: flex;
        justify-content: center;
    }
    .coberturas_abc {
        width: 500px;
    }
    .lista-contacto {
        padding: 0px 430px;
    }
    .contacto-info {
        li {
            font-size: 18px !important;
        }
    }
    .turnos-info {
        margin: 20px 80px;
    }
}