.servicios {
    padding: 30px 5px;
    background-color: #ebf4ff;
}

.servicios p {
    font-size: 12px;
    padding-top: 3px;
    font-weight: bold;
}

.servicios img {
    width: 70px;
    height: 70px;
}

.servicios-info h2 {
    color: #143052;
    font-weight: bold;
}

.servicios-info h3 {
    font-size: 14px;
    font-style: italic;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px 0px;
    justify-items: center;
    align-items: center;
}

.grid-item1 {
    /* background: grey; */
    text-align: center;
    /* border: black 5px solid; */
    width: 100px;
    height: 100px;
}