@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,500&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}


/*** Resolucion 320 en adelante ***/


/* Navbar */

.navbar {
    /* background-color: #84b6f4 !important; */
    background-color: #4994f2!important;
    font-family: "Montserrat", sans-serif !important;
    a {
        color: #fff !important;
        padding-left: 5px !important;
    }
    .navbar-brand img {
        height: 70px;
        width: auto;
        transition: all 0.3s;
        cursor: pointer;
        margin-right: auto;
    }
}


/* Fin Navbar */


/** Home **/

.inicio {
    background-color: #ebf4ff;
    .sonrisa_turnos {
        padding: 10px 30px;
        margin: 20px;
    }
    .inicio-info {
        padding: 20px 25px;
        text-align: center;
        h2 {
            font-size: 28px;
            font-weight: bold;
            color: #143052;
            padding-bottom: 5px;
        }
        p {
            font-size: 22px;
        }
        h3 {
            font-size: 24px;
            font-style: italic;
            font-weight: bold;
            color: #2171d1;
            padding-bottom: 15px;
        }
        .botonTurno {
            background-color: #61a2f2 !important;
            font-size: 22px !important;
            --font-weight: bold;
        }
    }
}


/* Modal Turnos */

.modal-header {
    background-color: #61a2f2;
}

.modal-title {
    color: #fff;
    font-size: 22px !important;
}

.btn-solicitar {
    background-color: #61a2f2;
}


/* Fin Modal Turnos */


/** Fin Home **/


/** Nosotros **/

.nosotros {
    background-color: #f4f6f8;
    padding: 35px;
    h2 {
        font-size: 28px;
        font-weight: bold;
        color: #143052;
        padding-bottom: 5px;
    }
    h3 {
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
        color: #2171d1;
        padding-bottom: 15px;
    }
    h5 {
        font-size: 16px !important;
        color: #010408 !important;
        font-weight: bold;
        font-style: italic;
    }
    img {
        height: 250px;
    }
    h6 {
        font-size: 20px !important;
        color: #010408 !important;
        padding-top: 25px;
    }
}


/** Fin Nosotros **/


/** Servicios **/

.servicios {
    padding: 30px 5px;
    background-color: #ebf4ff;
    p {
        font-size: 12px;
        padding-top: 3px;
        font-weight: bold;
    }
    img {
        width: 70px;
        height: 70px;
    }
    .servicios-info {
        h2 {
            color: #143052;
            font-weight: bold;
        }
        h3 {
            font-size: 14px;
            font-style: italic;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 20px;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px 0px;
    justify-items: center;
    align-items: center;
}

.grid-item1 {
    text-align: center;
    width: 100px;
    height: 100px;
}


/** Fin Servicios **/


/* Footer */

.footer-container {
    width: 100%;
    background: #3f485b;
    .content-footer {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        .box {
            h2 {
                color: #84e9f4;
                margin-bottom: 25px;
                font-size: 18px;
            }
            p {
                color: #efefef;
                margin-bottom: 10px;
            }
            a {
                display: block;
                color: #ccc;
                font-size: 12px;
                padding: 5px 0;
            }
            .email_contacto {
                font-size: 16px;
            }
            .social-links {
                display: flex;
                flex-direction: row;
                img {
                    height: 50px;
                    width: auto;
                }
            }
        }
    }
}


/* Fin Footer */


/*** Fin resolucion 320 en adelante ***/


/*** Resolucion 480 a 768 ***/

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .footer-container .content-footer {
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }
    .inicio img {
        width: 400px;
    }
    .sonrisa_turnos {
        margin: 40px;
    }
    .nosotros-info img {
        height: 360px !important;
    }
}


/*** Fin resolucion 480 a 768 ***/


/*** Resolucion 768 a 1024 ***/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-container .content-footer {
        width: 95%;
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr);
    }
    .inicio img {
        width: 300px;
    }
    .nosotros-info img {
        height: 590px !important;
    }
    .servicios img {
        width: 100px !important;
        height: 100px !important;
    }
    .grid-container {
        grid-gap: 30px 5px;
    }
    .servicios {
        padding-bottom: 50px !important;
    }
}


/*** Fin resolucion 768 a 1024 ***/


/*** Resolucion 1024 en adelante ***/

@media only screen and (min-width: 1024px) {
    .footer-container .content-footer {
        width: 100%;
        max-width: 1200px;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 50px;
        padding: 45px 15px;
    }
    .footer-container .content-footer .box a:hover {
        color: #f2c640;
    }
    .inicio img {
        width: 500px;
        height: 400px;
    }
    .content-inicio {
        padding-top: 35px;
    }
    .sonrisa_turnos {
        padding-left: 40px;
    }
    .nosotros-info img {
        height: 490px !important;
        width: 920px !important;
        padding-left: 250px !important;
        padding-right: 200px !important;
    }
    .nosotros-info h5 {
        padding-left: 45px !important;
    }
    .servicios img {
        width: 100px !important;
        height: 100px !important;
    }
    .grid-container {
        grid-gap: 50px 5px !important;
    }
    .servicios {
        padding-bottom: 70px !important;
    }
    .servicios p {
        font-size: 16px !important;
        padding-top: 3px;
        font-weight: bold;
    }
}


/*** Fin resolucion 1024 en adelante ***/

@media only screen and (min-width: 1200px) {
    .content-inicio {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inicio-info {
        padding-right: 90px;
    }
    .nosotros-info img {
        height: 390px !important;
        width: 820px !important;
        padding-right: 10px !important;
        padding-left: 350px !important;
    }
    .servicios-info h3 {
        font-size: 16px !important;
    }
}